<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
Copyright (c) 2014, The Chromium Authors
All rights reserved.

Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice,
   this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.
3. Neither the name of the copyright holder nor the names of its contributors
   may be used to endorse or promote products derived from this software
   without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED
AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<plugin>
  <extension id="nature" point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="org.chromium.gnsupport.core.GnNature"/>
    </runtime>
  </extension>

  <extension point="org.eclipse.core.contenttype.contentTypes">
    <content-type
        id="org.chromium.gnsupport.gn.content-type"
        base-type="org.eclipse.core.runtime.text"
        file-extensions="gn,gni"
        name="%content-type.name"
        priority="high">
    </content-type>
  </extension>

  <extension point="org.eclipse.dltk.core.language">
    <language
        class="org.chromium.gnsupport.core.GnLanguageToolkit"
        nature="org.chromium.gnsupport.core.nature"
        priority="0">
    </language>
  </extension>

  <extension point="org.eclipse.dltk.core.sourceParsers">
    <parserContribution
      natureId="org.chromium.gnsupport.core.nature">
      <parser
          class="org.chromium.gnsupport.internal.core.tree.GnSourceParserFactory"
          description="GN Source parser"
          id="org.chromium.gnsupport.gn.sourceParser"
          name="sourceParser.name"
          priority="0" />
    </parserContribution>
  </extension>

  <extension point="org.eclipse.dltk.core.sourceElementParsers">
    <parser
        class="org.chromium.gnsupport.internal.core.tree.GnSourceElementParser"
        nature="org.chromium.gnsupport.core.nature"
        priority="0">
    </parser>
  </extension>

  <extension point="org.eclipse.dltk.core.completionEngine">
    <completionEngine
        class="org.chromium.gnsupport.internal.core.codeassist.GnCompletionEngine"
        nature="org.chromium.gnsupport.core.nature"
        priority="0">
    </completionEngine>
  </extension>

  <extension point="org.eclipse.dltk.core.selectionEngine">
     <selectionEngine
           class="org.chromium.gnsupport.internal.core.codeassist.GnSelectionEngine"
           nature="org.chromium.gnsupport.core.nature"
           priority="0">
     </selectionEngine>
  </extension>

  <!-- extension point="org.eclipse.dltk.core.search">
    <seachFactory
        class="org.eclipse.dltk.examples.python.internal.search.ExamplePythonSearchFactory"
        nature="org.eclipse.dltk.examples.python.nature"
        priority="0">
    </seachFactory>
  </extension -->

  <extension
        point="org.eclipse.dltk.core.search">
     <searchFactory
           class="org.chromium.gnsupport.internal.core.search.GnSearchFactory"
           nature="org.chromium.gnsupport.core.nature"
           priority="0">
     </searchFactory>
  </extension>

</plugin>
